absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
deepface
filelock
fire
Flask
flatbuffers
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mtcnn
namex
numpy
opencv-python
opt-einsum
optree
packaging
pandas
pillow
protobuf
Pygments
PySocks
python-dateutil
pytz
requests
retina-face
rich
setuptools
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
tf_keras
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
